.pricingIntro{
    width: 100%;
    height: 400px;
    background-color: var(--blue-black);
}
.pricingIntroWrapper{
    width: 90%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.pricingIntroLeft>h1{
    font-size: 3.2rem;
    color: #ffff;
    font-weight: 500;
    margin-bottom: 15px;
}
.pricingIntroLeft>p{
    font-size: 2rem;
    color: #ffff;
    line-height: 30px;
}
.pricingIntroRight{
    width: 100%;
    height: 100%;
    position: relative;
}
.imageWrapper{
    width: 100%;
    height: 100%;
    object-fit: contain!important;
    position: absolute!important;
    top: 40px!important;
    right: -67px!important;
}
@media screen and (max-width: 1115px){
    .termOfServiceIntroWrapper{
        width: 95%;
    }
    .imageWrapper{
        top: 80px!important;
        right: -55px!important;
    }
}
@media screen and (max-width: 769px){
    .pricingIntroWrapper{
        grid-template-columns: 1fr;
    }
    .imageWrapper{
        display: none;
    }
    .pricingIntro{
        height: 220px;
        text-align: center;
    }
    .pricingIntroleft>p{
        margin: auto;
    }
}
@media screen and (max-width: 425px){
    .pricingIntroleft>h1{
        font-size: 2.8rem;
    }
    .pricingIntroleft>p{
        font-size: 1.8rem;
        width: 90%;
    }

}